<!-- Start SimplePractice Appointment-Request Widget Embed Code -->
<style>.spwidget-button-wrapper {
    text-align: center
}
.spwidget-button {
    display: inline-block;
    padding: 6px 12px;
    color: #1371C8;
    background: #fff;
    border: 1px solid #1371C8;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none
}
.spwidget-button:hover {
    background: #fff;
    color: #0F5AA0
}
.spwidget-button:active {
    color: rgba(255, 255, 255, .75) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset
}</style>
<!--
<div class="spwidget-button-wrapper">
	<a href="https://psychotherapyoflitchfield.clientsecure.me" class="spwidget-button"
	   data-spwidget-scope-id="f9e3a1c9-9bb6-4d37-ab5a-349d875d1421" data-spwidget-scope-uri="psychotherapyoflitchfield"
	   data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-type="OAR"
	   data-spwidget-scope-global data-spwidget-autobind>Request Appointment</a>
</div>
-->
<script src="https://widget-cdn.simplepractice.com/assets/integration-1.0.js"></script>
<!-- End SimplePractice Appointment-Request Widget Embed Code -->
